 .boton {
     display: flex;
     justify-content: center;
 }

.tabla {
   margin: auto;
    width: 50%;
}

 .img-fluid {

     width: 400px;
     height: 300px;
     transition: transform .5s;
 }

 .img-web:hover {
     transform: scale(1.1);
 }
.c-r {
    margin-bottom: 50px;
}
 .t-p {
     margin-top: 50px;
   
 }

 .boton a {

     text-align: center;
     border-radius: 50px;
     display: flex;
     justify-content: center;
     font-family: 'Dancing Script', cursive;
     color: #fe9e8e;
     margin-top: 30px;
     margin-bottom: 30px;
     text-decoration: none;
     background-color: #322c8e;
     width: 20%;

 }

 .fc-btn-2 {
     display: flex;
     justify-content: center;
     color: #fe9e8e;
     max-width: 100vw;
     font-family: 'Architects Daughter', cursive;

 }

 .boton a:hover {
     color: deeppink;
     background: black;

 }

 @media screen and (max-width: 400px){
    .tabla {
      
        width: 250px;
    }

    .img-fluid {
       max-width: 50%;
       margin: auto;
       text-align: center;
    }
 }